{% extends 'base.html.twig' %}

{% block title %}Mise a jour{% endblock %}

{% block body %}
    <h3>Mise a jour du mot de passe</h3>

    {{ form_start(form) }}
        {{ form_row(form.plainPassword, {label: 'Password','attr': {'placeholder': 'entrez votre mot de passe'}})}}
        <button type="submit" class="btn btn-primary">Update</button>
    {{ form_end(form) }}
{% endblock %}