
body
{
    background-image: url('http://ekladata.com/Rr_D_Vh71x30U96LrCmnTabnlDk.jpg');
    opacity: 0.9;
    color: aliceblue;
	font-family: 'Montserrat', sans-serif;
    
}

footer {
    background: #16222A;
    background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
    background: linear-gradient(59deg, #3A6073, #16222A);
    color: white;
    margin-top:200px;
  }