{% extends 'base.html.twig' %}


{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
<div style="margin:auto;"class="container">

    <h1>Modifier un utilisateur</h1>
    {{ form(userForm) }}
</div>
{% endblock %}
