{% extends 'base.html.twig' %}
{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <ul>
        <li>La liste des utilisateurs : <a href="utilisateurs" class="btn btn-primary">go</a></li>
        <li>Cree une nouvelle categorie : <a href="creat_categorie" class="btn btn-primary">go</a></li>
        <li>Liste des categories : <a href="editlist_categorie" class="btn btn-primary">go</a></li>


        


    </ul>
</div>
{% endblock %}
